$dark-blue : #2E3F7F;
$light-blue:  #B7D4FF;
$black: #383838;
$dark-black: #020202;

$semibold: "Gilroy-Semibold";
$regular: "Gilroy-Regular";
$bold: "Gilroy-Bold";
$montserrat : 'Montserrat', sans-serif;
$meri: 'Merriweather', serif;
